 @font-face {
  font-family: "CS_Juicy_Regular";
  src: url("fonts/CS_Juicy_Regular.otf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    
    background-color: #f1eef1;
    padding:0;
    margin:0;
}

svg{
    display: block;
}

p{
    font-family: 'Roboto',sans-serif;
}

.menu p {
    color:#679fb0;
    font-size: 30px;
    
}

header{

}
.menuBurger{
    display: flex;
    flex-direction: column;
}
.banniere{
    display: flex;
    justify-content: center;

}

.svg{
    width: 150px;
    height: 150px;
}

.blank{
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
}

.blank2{
    width: 100vw;
    height: 300px;
    background-color: #46738d;
    padding-top: 0;
    margin-top: 0;
}

.menuSvg{
    display: flex;
    justify-content: space-around;
}




#log{
    align-self: center;
    border: 1px;

}

.center{
    text-align: center;
}

.slogan{
    font-size: 50px;
    font-family: CS_Juicy_Regular;
    color: #009b8b;
    flex-shrink: 0;

}

.bar1, .bar2, .bar3 {
    width: 50px;
    height: 8px;
    background-color: #37526e;
    margin: 5px 0;
    align-self: flex-end;

}

.menu{
    display: flex;
    justify-content: space-around;
}

#svg8{
    width: 100vw;
    height: auto;
}

#svg7{
    width: 100vw;
    height: auto;
}